---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("../posts/*.md");
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <!-- components Showcase-tags --> 
  <div class="w-full bg-[#171717] pt-[110px] pb-[40px] md:pb-[70px]">
    <div class="max-w-7xl mx-auto px-4">
      <h2 class="text-white uppercase text-3xl text-center md:text-4xl font-bold mb-6">
        {tag}
      </h2>
      <p class="text-white text-center pr-4 sm:pr-0">
        They decided to find the end of the rainbow.
      </p>
      <div class="cate pt-10 mx-auto pr-4 sm:pr-0">
        <ul class="text-center gap-y-2.5 grid grid-cols-2 items-center justify-center md:grid-cols-3 lg:grid-cols-6">   
            {
                tags.map((tag) => (
                  <div>
                    <a class="text-white uppercase py-2 px-3 rounded-lg hover:bg-[#4136F1] active:bg-[#4136F1] focus:outline-none focus:ring focus:bg-[#4136F1]" href={`${tag}`}>{tag}</a>
                  </div> 
                ))
              }
        </ul>
      </div>
    </div>
  </div>

  <!-- components Headers-BlogPost --> 
  <div class="w-full flex justify-center bg-[#000000]">
    <ul class="w-full max-w-7xl md:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 pt-16">
      {
        posts.map((post) => (
          <BlogPost url={post.url} title={post.frontmatter.title} tag={post.frontmatter.tag} img={post.frontmatter.img} speakerimg={post.frontmatter.speakerimg} author={post.frontmatter.author}/>
        ))
      }   
    </ul>
  </div>
</Layout>
