---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import Showcase from "./tags/Showcase.astro";
const pageTitle = "Showcase";
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<Layout pageTitle={pageTitle}>
  <!-- components Showcase-tags --> 
  <Showcase/>
  
  <div class="w-full flex justify-center bg-[#000000]">
    <ul class="pt-16 max-w-7xl md:grid md:grid-cols-2 lg:grid-cols-4">
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} img={post.frontmatter.img} speakerimg={post.frontmatter.speakerimg} tags={post.frontmatter.tags} author={post.frontmatter.author}/>)}
    </ul>
  </div>
</Layout>