---
import { CardContent } from "../components/CardContent";
const { frontmatter } = Astro.props;
const { title, url, author, img } = Astro.props;
---
<div class="pb-[72px] w-full flex justify-center px-2 bg-[#000000]">
  <CardContent>
    <img slot="coverContent" src="{url}>{img}"/>
    <p slot="nameContent"><a href={url}>{author}</a></p>
    <img slot="imgSpeaker" src="/assets/img/00.png"/>
    <label slot="nameSpeaker"><a href={url}>{title}</a></label>
  </CardContent>
</div>
