---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <section
  class="bg-[url('/assets/img/Hero.png')] bg-contain bg-no-repeat lg:bg-cover lg:h-full">
    <div class="poster">
      <div
        class="max-w-6xl mx-auto px-4 flex flex-col md:flex-row pt-32 md:pt-60"
      >
        <div class="left">
          <div class="w-[500px] mx-auto md:pt-24">
            <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
          </div>
        </div>
        <div>
          <div class="px-4 md:pt-24 text-gray-500">
            <h2 class="text-3xl pb-4 text-white text-star">Python</h2>
            <p>
              <slot />
            </p>
          </div>
          <div class="px-4 pt-4">
            <div class="flex items-center">
              <div class="md:w-[135px]">
                <h1 class="text-white">RELEASE DATE</h1>
              </div>
              <p class="text-gray-500">{frontmatter.pubDate.slice(0, 10)}</p>
            </div>
            <div class="flex items-center pt-2">
              <div class="md:w-[135px]">
                <h1 class="text-white">RUNNING TIME</h1>
              </div>
              <p class="text-gray-500">{frontmatter.time}</p>
            </div>
            <div class="flex items-center pt-2">
              <div class="md:w-[135px]">
                <h1 class="text-white">DIRECTOR</h1>
              </div>
              <p class="text-gray-500">trainee Chart</p>
            </div>
            <div class="flex items-center pt-2">
              <div class="md:w-[135px]">
                <h1 class="text-white">Build by</h1>
              </div>
              <p class="text-gray-500">Trainee Chart</p>
            </div>
            <div class="flex items-end pt-2">
              <div class="md:w-[135px]">
                <h1 class="text-white">CATEGORY</h1>
              </div>
              <ul class="flex flex-wrap gap-2 pt-2">
                <li class="text-white inline border rounded-md py-1 px-4">
                  <a href="#">CATEGORY</a>
                </li>
              </ul>
            </div>
            <div class="button sm:flex sm:my-4 lg:pt-4">
              <button
                class=" bg-red-700 rounded-3xl flex items-center justify-between py-3 px-6 text-white my-4 sm:my-0 sm:mr-4"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  ></path>
                </svg>

                <p class="text-white">Add To Witchinglist</p>
              </button>
              <button
                class=" bg-sky-600 flex items-center justify-between rounded-3xl py-3 px-6 text-white"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z"
                  ></path>
                </svg>

                <a href="#" class="text-white">Shared</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="mt-[72px] max-w-6xl mx-auto text-white">
    <p>{frontmatter.pubDate.slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="500" alt={frontmatter.image.alt} />
    <slot />
  </div> -->

</Layout>